.main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 1fr;
  grid-gap: 10px;
}

.video-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
  background-color: #263346;
  border-radius: 10px;
}

.video video {
  object-fit: cover;
}

.video.remote video {
  border-radius: 10px 0 0 10px;
}

.video.local video {
  border-radius: 0 10px 10px 0;
}

.video {
  height: fit-content;
}

.bottom-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0;
}

.left {
  background-color: #263346;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttons > button {
  margin: 0 10px;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  height: 70px;
  width: 100px;
  font-size: 100%;
}

.buttons .next {
  background-color: #51fd6d;
}
.buttons .next svg {
  height: 90%;
  width: 90%;
}

.buttons > button:hover {
  transform: scale(1.03);
  box-shadow: 3px 3px #1a1f25;
}

.buttons > button:active {
  transform: scale(1.03);
  box-shadow: 3px 3px #1a1f25;
}

.circle {
  margin-left: 5px;
  margin-top: 4px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.left span {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fafafa;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
  width: 200%;
}

.rotating svg {
}
